/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

.img-wrapper {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img-wrapper img {
  width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .title {
  margin-bottom: 1em;
  font-weight: 800;
  font-family: 'Secular One', sans-serif;
}

h1, .h1 {
  font-size: 3em;
}

h2, .h2 {
  font-size: 2.2em;
}

h3, .h3 {
  font-size: 2em;
}

h4, .h4 {
  font-size: 1.75em;
}

h5, .h5 {
  font-size: 1.5em;
}

h6, .h6 {
  font-size: 1.2em;
}

p, .basic-txt {
  font-size: 1em;
  margin-bottom: 1em;
}

section, .row {
  width: 100%;
}

section {
  padding-top: 60px;
  padding-bottom: 600px;
}

.row {
  padding-top: 10px;
  padding-bottom: 20px;
}

[class^='row-wrapper'], [class^='row-wrapper-off-r'], [class^='row-wrapper-off-l'] {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}

[class^='row-wrapper-off-r'] {
  margin-right: 0;
  max-width: calc((100% - 1500px) / 2 + 1500px);
}

[class^='row-wrapper-off-l'] {
  margin-left: 0;
  max-width: calc((100% - 1500px) / 2 + 1500px);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

#top_message {
  width: 100%;
  background-color: #2d2d2d;
  color: #f9f9f9;
  text-align: center;
  overflow: hidden;
}

.top-message-wrapper {
  width: 100%;
  max-width: 80%;
  display: inline-block;
  margin: 0 auto;
  padding: 12px;
}

.top-message-wrapper p {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.top-msg-close {
  background-color: #ffb73d;
  cursor: pointer;
  padding: 20px;
}

.header {
  width: 100%;
}

#container {
  border: 1px dotted red;
  width: 100%;
  max-width: unset;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

@media (min-width: 1200px) {
  #container {
    max-width: 90%;
  }
}

#sidebar {
  width: 200px;
  background-color: white;
}

@media (min-width: 768px) {
  #sidebar {
    width: 200px;
  }
}

#sidebar.mobile {
  position: fixed;
  height: 100%;
  z-index: 9999;
  background-color: white;
}

#sidebar.sidebar-close, #sidebar.sidebar-open {
  top: 0;
  /* Safari */
  transition: 0.5s;
  box-shadow: 100px 0 75px rgba(0, 0, 0, 0.25);
}

#sidebar.sidebar-close {
  left: -200px;
  box-shadow: 0 0 0 transparent;
}

#sidebar.sidebar-open {
  left: 0;
}

.sidebar-button {
  position: fixed;
  padding: 20px;
  background-color: white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  text-align: center;
  top: 12px;
  cursor: pointer;
  /* Safari */
  transition: 0.5s;
}

@media (min-width: 768px) {
  .sidebar-button {
    display: none;
  }
}

.sidebar-button.open {
  left: 12px;
}

.sidebar-button.close {
  left: 212px;
}

#content {
  width: 100%;
}

@media (min-width: 768px) {
  #content {
    width: calc( 100% - 200px);
  }
}

.sidebar-content {
  padding: 8px 8px 16px 8px;
}

.sidebar-content .about, .sidebar-content nav {
  margin: 12px 0 24px 0;
}

footer {
  margin-bottom: 75vh;
}

.footer {
  width: 100%;
}

.curtain-footer {
  color: white;
  display: inline-block;
  width: 100%;
  height: 75vh;
  position: fixed;
  bottom: 0;
  z-index: -9999;
}

.card {
  position: relative;
  background-color: white;
  display: inline-block;
  height: 100%;
}

.card .information {
  padding: 0 8px;
}

.card .view-more {
  padding: 0 8px;
  /* Safari */
  transition: 0.3s;
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.project-list li {
  position: relative;
  /* 100% / # of cards minus margin between cards */
  width: calc((100% / 1) - 20px);
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 544px) {
  .project-list li {
    /* 100% / # of cards minus margin between cards */
    width: calc((100% / 2) - 20px);
  }
}

@media (min-width: 768px) {
  .project-list li {
    /* 100% / # of cards minus margin between cards */
    width: calc((100% / 2) - 20px);
  }
}

@media (min-width: 992px) {
  .project-list li {
    /* 100% / # of cards minus margin between cards */
    width: calc((100% / 3) - 20px);
  }
}

@media (min-width: 1200px) {
  .project-list li {
    /* 100% / # of cards minus margin between cards */
    width: calc((100% / 4) - 20px);
  }
}

.project-container {
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1);
  /* Safari */
  transition: 0.3s;
  top: 0px;
  opacity: .95;
}

.project-container:hover {
  box-shadow: 0px 16px 28px rgba(0, 0, 0, 0.2);
  top: -3px;
  opacity: 1;
}

.project-container a {
  color: unset;
}

.tag-container {
  width: 100%;
}

.tag {
  background-color: grey;
  border: 0px solid transparent;
  color: white;
  display: inline-block;
  padding: 4px;
  margin: 2px;
  border-radius: 500px;
  text-transform: uppercase;
  font-size: .6em;
}

.tag:first-child {
  margin-left: 0;
}

.tag:last-child {
  margin-right: 0;
}

.tag.web {
  background-color: black;
  border: 0px solid transparent;
  color: red;
}

.tag.electronics {
  background-color: deepskyblue;
  border: 0px solid transparent;
  color: darkblue;
}

.tag.laser {
  background-color: coral;
  border: 0px solid transparent;
  color: darkred;
}

.tag.3dprint {
  background-color: olive;
  border: 0px solid transparent;
  color: lime;
}

.tag.design {
  background-color: gold;
  border: 0px solid transparent;
  color: orangered;
}

.tag.craft {
  background-color: brown;
  border: 0px solid transparent;
  color: gold;
}

.tag.learning {
  background-color: white;
  border: 0px solid transparent;
  color: deepskyblue;
}

.need-tags:before {
  content: "! -- Tags needed -- !";
  display: inline-block;
  background-color: red !important;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 9999999;
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */