//*--------------------------------------------------------------
// CARDS
//--------------------------------------------------------------*/

// VARS
$card-radius: 20px;
$card-shadow: null;
$card-shadow-hover: null;

.card{
    position: relative;
    background-color: #e0e0e0;
    display: inline-block;
    height: 100%;

    .information{
        padding: 0 8px;
    }
    
    .view-more{
        padding: 0 8px;
    }
}
