//*--------------------------------------------------------------
// CARDS
//--------------------------------------------------------------*/

// VARS
$card-radius: 20px;
$transition-card-hover: .3s;
$cards-h-gap: 20px;

@mixin number-of-cards($cards-by-line, $cards-separation: $cards-h-gap ){
    /* 100% / # of cards minus margin between cards */
    width: calc((100% / #{$cards-by-line}) - #{$cards-separation}); 
}

.card{
    position: relative;
    background-color: $white;
    display: inline-block;
    height: 100%;
    
    .information{
        padding: 0 8px;
    }
    
    .view-more{
        padding: 0 8px;
        @include transition($transition-card-hover);
    }
}

.project-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
} 

// .project-container works as card wrapper
.project-list li{ 
    position: relative;
    @include number-of-cards(1);
    margin: 10px;
    border-radius: $card-radius;
    overflow: hidden;
   
    @include respond-to(xs){
        @include number-of-cards(2);
    }
    @include respond-to(s){
        @include number-of-cards(2);
    }
    @include respond-to(m){
        @include number-of-cards(3);
    }
    @include respond-to(l){
        @include number-of-cards(4);
    }

}

.project-container{
    @include shadow($card-shadow);
    @include transition($transition-card-hover);
    top: 0px;
    opacity: .95;

    &:hover{
        @include shadow($card-shadow-hover);
        top: -3px;
        opacity: 1;
    }

    a{
        color: unset;
    }
}

