//*--------------------------------------------------------------
// COLOR VARS
//--------------------------------------------------------------*/
$black: rgba(0,0,0,1);
$white:  rgba(255,255,255,1);
$red: red;


$primary: rgba(255,183,61,1);
$secondary: rgba(29,204,200,1);
$secondaryclear: rgba(125,224,255,1);
$accent: rgba(204,174,29,1);
$accentdark: rgba(153,144,98,1);


$black-50: rgba(0,0,0,.5);
$black-25: rgba(0,0,0,.25);
$black-20: rgba(0,0,0,.2);
$black-10: rgba(0,0,0,.1);

//*--------------------------------------------------------------
// COLOR PALLETES --- WIP: if date between X and Y, add class to body with pallete
//--------------------------------------------------------------*/

//winter
$winter-primary: darkcyan;
$winter-secondary: dodgerblue;
$winter-secondaryclear:lightcyan;
$winter-accent:coral;
$winter-accentdark:brown;

//spring
$spring-primary: lightgreen;
$spring-secondary: yellowgreen;
$spring-secondaryclear: springgreen;
$spring-accent:lightsalmon;
$spring-accentdark:indianred;

//summer
$summer-primary: gold;
$summer-secondary: deepskyblue;
$summer-secondaryclear: skyblue;
$summer-accent: yellowgreen;
$summer-accentdark:forestgreen;

//fall
$fall-primary: orange;
$fall-secondary: dimgrey;
$fall-secondaryclear: darkgrey;
$fall-accent: gold;
$fall-accentdark:goldenrod;


//*--------------------------------------------------------------
// GRADIENTS
//--------------------------------------------------------------*/
// lists to use with mixin
$gradient-list-1: $secondary, $accent;


// @mixin rgba-background($hexcolor, $opacity) {
//   background-color: $hexcolor;
//   background-color: rgba($hexcolor, $opacity); 
// }