//*--------------------------------------------------------------
// FOOTER
//--------------------------------------------------------------*/
$curtain-footer-h: 75vh;



footer{
	margin-bottom: $curtain-footer-h; 

}
.footer{
	width: 100%;
	
	.footer-bottom{

	}
}

.curtain-footer{
	color: $white;
	display: inline-block;
	width: 100%;
	height: $curtain-footer-h;

	position: fixed;
	bottom: 0;
	z-index: -9999;
}