//*--------------------------------------------------------------
// MAIN CONTAINER = space for sidebars & content
//--------------------------------------------------------------*/

// VARS
//content max-width (including sidebars)
$page-container-w: 90%;
$page-container-w-xl: 2560px;


$content-w-s: 100%;
$sidebar-max-w: 200px;

$content-w: 85%;
$sidebar-w: 100%;

$sidebar-movement: .5s;


#container{
    border: 1px dotted red;
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    
    @include respond-to(l){ 
        max-width: $page-container-w;
    }
}

#sidebar{
    width: $sidebar-max-w;
    background-color: $white;

    @include respond-to(s){
        width:  $sidebar-max-w;
    }
    
    &.mobile{
        position: fixed;
        height: 100%;
        z-index: 9999;
        background-color: $white;
    }
    
    &.sidebar-close, 
    &.sidebar-open{
        top: 0;
        @include transition($sidebar-movement);
        @include shadow($overlay-shadow);
    }
    &.sidebar-close{
        left: -$sidebar-max-w;
        @include shadow($no-shadow);
    }
    &.sidebar-open{
        left: 0;
    }

}

.sidebar-button{
    position: fixed;
    padding: 20px;
    background-color: $white;
    @include border-radius(500px);
    text-align: center;
    top: 12px;
    cursor: pointer;
    @include transition($sidebar-movement);

    @include respond-to(s){
        display: none;
    }

    &.open{
        left: 12px;
    }
    &.close{
        left: $sidebar-max-w + 12px;
    }
}

#content{
    width: $content-w-s;
    @include respond-to(s){
        width: calc( #{$content-w-s} - #{$sidebar-max-w} );
    }
}


.sidebar-content{
    padding: 8px 8px 16px 8px;

    .about, nav{
        margin: 12px 0 24px 0;
    }
}

.filter-list{
    span{
        display: inline-block;
        border: 1px dashed red;
    }
}

.project-container{
    &.excluded{
        border: 5px dashed green;
        display: none;
    }
}