//*--------------------------------------------------------------
// MAIN CONTAINER = space for sidebars & content
//--------------------------------------------------------------*/

// VARS
//content max-width (including sidebars)
$page-container-w: 90%;
$page-container-w-xl: 2560px;


$content-w-s: 100%;
$sidebar-max-w: 200px;

$content-w: 85%;
$sidebar-w: 100%;

$sidebar-movement: .5s;


#container{
    width: 100%;
    max-width: unset;
    min-height: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    
    @include respond-to(l){ 
        max-width: $page-container-w;
    }
}

#sidebar{
    width: $sidebar-max-w;
    background-color: deepskyblue;
    

    @include respond-to(s){
        width:  $sidebar-max-w;
    }
    
    &.mobile{
        position: absolute;
        height: 100%;
        z-index: 9999;
        background-color: dodgerblue;
    }
    
    &.sidebar-close, 
    &.sidebar-open{
        @include transition($sidebar-movement);
    }
    &.sidebar-close{
        left: -$sidebar-max-w;
    }
    &.sidebar-open{
        left: 0;
    }

}

.sidebar-button{
    position: absolute;
    padding: 20px;
    background-color: cyan;
    @include border-radius(500px);
    text-align: center;
    top: 12px;
    left: $sidebar-max-w + 12px;
    cursor: pointer;

    @include respond-to(s){
        display: none;
    }
}

#content{
    width: $content-w-s;
    @include respond-to(s){
        width: calc( #{$content-w-s} - #{$sidebar-max-w} );
    }
}


.sidebar-content{
    padding: 8px 8px 16px 8px;
}

